body{
    background-color:rgb(89, 138, 140);
    text-align: center;

}


h1{
    font-size: 56px;
    font-family: 'Times New Roman';
    align-items: center;
    border: 5px solid slategray;

    

}